---
layout: page
title: About Me
activate_nav: about
---


<p>Hi I'm Mike Doyle. </p>
<p>I'm a Senior Full Stack Rails/Ruby developer with over 12 years of experience building high quality products for the web and mobile devices.</p>
<p>Throughout my career I've been successful at maintaining and adding features to existing applications that receive production workloads as well as standing up green field apps at both SaaS companies and agencies.</p>
<p>I'm passionate about writing well tested, clean and scaleable solutions that meet business needs and deadlines. I'm results driven, a great collaborator and have no ego. I don't know everything and I'm always learning new things and improving my skills.</p>