@import "syntax-highlighting";
@import "@picocss/pico";

html {
  scrollbar-gutter: stable;
}

body > nav {
  box-shadow: 0 1px 0 gray;
}

body > nav a svg {
  vertical-align: text-bottom;
  height: 1rem;
}

body > footer {
  border-top: 1px solid gray;
  text-align: center;
  
  p { color: var(--muted-color) }
}

nav .logo a {
  color: var(--h1-color);
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.active {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}