<footer>
  <section class="container">
    <p><small><em>Copyright Mike Doyle © 2022. Built with <a href="https://www.bridgetownrb.com/" target="_blank">Bridgetown</a> and <a href="https://picocss.com/" target="_blank">Pico.CSS</a>, 
      hosted by <a href="https://netlify.com" target="_blank">Netlify</a></em></small></p>
  </section>
</footer>
