<footer>
  <section class="container">
    <p><small><em>Copyright Mike Doyle &copy; {{ date | date: "%Y" }} . Built with <a href="https://www.bridgetownrb.com/" target="_blank">Bridgetown.rb</a> and <a href="https://picocss.com/" target="_blank">Pico.CSS</a>.
      Hosted by <a href="https://netlify.com" target="_blank">Netlify</a></em></small></p>
  </section>
</footer>
